* {
    font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
    padding: 0;
    transition: all 500ms ease;
}

body {
    /*background: linear-gradient(108.08deg, #BBD2C5 0.53%, #536976 52.86%, #292E49 100%);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
h1 {
    text-align: center;
    margin: 60px;
    font-size: 40px;
    margin-bottom: 0;
}

.titolo{
    text-align: center;
    margin: 60px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

p{
    padding-left: 5px;
}

.card:hover > p {
    display: block;
}

.container {
    width: 80%;
    margin: auto;
}

.card {
    display: inline-block;
    width: 33.3%;
    margin: auto;
    margin-top: 0;
    background-color: #5d67da;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2), 0 40px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #3f4abd;
}

.all-cards {
    margin: auto;
}

img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

a{
    text-decoration: none;
    color: black;
}

span {
    margin-left: 1.5%;
}

.iscrizione {
    margin-bottom: 0px;
    margin-top: 100px;
    margin-left: 41.5%;
    margin-right: 41.5%;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    width: 250px;
    background-color: #9b85d6;
    border-radius: 40px;
    transition: 500ms ease;
}

.iscrizione:hover{
    
    background-color: #7056b8;
    transition: 500ms ease;
}

.text-area {
    width: 70%;
    border: 1px solid #9b85d6;
    margin: 30px auto;
    border-radius: 10px;
    background-color: #9b85d6;
}

input, select, .home {
    width: 40%;
    margin: 10px;
    border-radius: 5px;
    border: none;
    display: inline;
    background-color: #9b85d6;
    color: black;
}

label[for="adulti"], label[for="bambini"], select {
    width: auto;
    margin-left: 2%;
}

input::placeholder{
    color: black;
}

input[type=submit], .home {
    width: 7.5%;
    padding: 10px;
    margin-left: 15%;
    border: none;
    display: inline-block;
    cursor: pointer;
    background-color: #523a94;
    font-weight: bolder;
    text-align: center;
    font-size: large;
}

.home {
    margin-left: 0;
    margin-right: 7.5%;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 65%;
}

thead {
    font-size: 25px;
}

th {
    padding: 2px;
}

input[type=submit]:hover, .home:hover {
    background-color: rgb(106, 231, 225);
}

span.error {
    color: rgb(126, 5, 5);
    display: block;
    margin-left: 10px;
}

h2.error {
    color: rgb(126, 5, 5);
    font-weight: bold;
    font-size: xx-large;
}

.obb {
    display: inline !important; 
    font-weight: normal;
}

.all {
    margin: 0 35%;
    width: 100%;
}

.success {
    background-color: rgba(173, 255, 47, 0.4);
    text-align: center;
}

.success:hover {
    background-color: rgba(173, 255, 47, 0.4);
}

.acaso {
    border: 1px solid red;
    width: 10%;
}

input[type=text],input[type=email] {
    border: none;
    border-bottom: 2px solid #331d6e;
    background-color: #9b85d6;
    color: black;
}

textarea {
    display: block;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    width: 85%;
    transition: none;
    background-color: #d4c7f7;
    border-radius: 10px;
    
}

.card {
    width: 30%;
    margin: auto;
    margin: 10px;
}

input[type=email]{
    display: block;
    width: 85%;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1000px){
    .card {
        width: 100%;
        margin: auto;
        margin: 10px;
    }

    h2 {
        font-size: 20px;
    }

    span {
        font-size: 13px;
    }

    .iscrizione {
        margin-top: 10%;
        margin: auto;
    
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    
        width: 250px;
        background-color: #9b85d6;
        border-radius: 40px;
        transition: 500ms ease;
    }

    input {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }

    select {
        width: 50%;
    }

    input[type=submit] {
        width: 20%;
        cursor: pointer;
    }

    textarea {
        width: 95%;
    }

    .hidden {
        display: block;
    }
}